name: Test CI Template

on:
  workflow_dispatch:

jobs:
  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-ci-generic.yml@repository-prefix
    with:
      version: 1.2.3
      latest-tag: true
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}